body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    background-color: rgb(241, 246, 248);
}

.content {
    margin-top: 30px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;

}

.header {
    margin-top: 50px;
}

.footer {
    margin-top: auto;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }

.centre-box {
    display: flex;
    flex-direction: column;
}

.centre-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.centre-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 170px;
}

h2 {
    font-weight: 500;
}

h4 {
    font-weight: 600;
}

.item {
    width: 200px;
    height: 50px;
}

.dropdown {
    text-align: center;
    text-align-last: center;
}

.textbox {
    text-align: center;
    text-align-last: center;
}

.full-form {
    width: 100%;
}

.submit, .submit:hover {
    background-color: rgb(54, 81, 178);
    color: white;
}

.return, .return:hover {
    background-color: rgb(117, 132, 187);
    color: white;
}

.submit:hover, .return:hover {
    background-color: rgb(8, 37, 139);
}